<div class="container">
    <form action="/login" method="POST">
<input type="text" name="username">
  <input type="text" name="password">
  <button type="submit">login as admin</button>
    </form>
  
  </div>