<div class="container">
    <div class='row'>
      <h3>Subject</h3>
    <form action="/admin/addsubject" method="POST" >
           <div class="form-group">
               <label for="title">Title</label>
               <input type="text" class="form-control" name="subjectTitle" required>
           </div>
           <div class="form-group">
               <label for="details">Description</label>
               <textarea class="form-control" name="subjectDescription" required></textarea>
           </div>
            
          
              <button class="btn btn-primary mt-2">submit</button>
    </form>
    </div>
   
     <hr>
</div>

<div class="container">
    <div class='row'>
      <h3>chapters</h3>
    <form action="/admin/addchapters" method="POST" >
           <div class="form-group">
               <label for="title">SubjectTitle</label>
               <input type="text" class="form-control" name="subjectTitle" required>
           </div>
           <div class="form-group">
               <label for="details">Description</label>
               <textarea class="form-control" name="chapterDescription" required></textarea>
           </div>
            <div class="form-group">
               <label for="details">chapterTitle</label>
               <textarea class="form-control" name="chapterTitle" required></textarea>
           </div>
          
              <button class="btn btn-primary mt-2">submit</button>
    </form>
    </div>
   
     <hr>
</div>


<div class="container">
    <div class='row'>
      <h3>Topic</h3>
    <form action="/admin/addtopics" method="POST" >
           <div class="form-group">
               <label for="title">chaptertTitle</label>
               <input type="text" class="form-control" name="chapterTitle" required>
           </div>
            <div class="form-group">
               <label for="title">topicTitle</label>
               <input type="text" class="form-control" name="topicTitle" required>
           </div>
           <div class="form-group">
               <label for="details">Description</label>
               <textarea class="form-control" name="topicDescription" required></textarea>
           </div>
          
              <button class="btn btn-primary mt-2">submit</button>
    </form>
    </div>
   
     <hr>
</div>


<div class="container">
    <div class='row'>
      <h3>Add Page</h3>
    <form action="/admin/addpages" method="POST" >
           <div class="form-group">
               <label for="title">topic title</label>
               <input type="text" class="form-control" name="topicTitle" required>
           </div>
            <div class="form-group">
               <label for="title">page title</label>
               <input type="text" class="form-control" name="page_title" required>
           </div>
            <div class="form-group">
               <label for="title">page type</label>
               <input type="text" class="form-control" name="page_type" required>
           </div>
          <button class="btn btn-primary mt-2">submit</button>
    </form>
    </div>
   
     <hr>
</div>


<div class="container">
    <div class='row'>
      <h3>Add Section</h3>
    <form action="/admin/addsection" method="POST" >
           <div class="form-group">
               <label for="title">section title</label>
               <input type="text" class="form-control" name="sectionTitle" required>
           </div>
            <div class="form-group">
               <label for="title">section type</label>
               <input type="text" class="form-control" name="section_type" required>
           </div>
            <div class="form-group">
               <label for="title">topic title</label>
               <input type="text" class="form-control" name="topictitle" required>
           </div>
          <button class="btn btn-primary mt-2">submit</button>
    </form>
    </div>
     <hr>
</div>